header {
  display: flex;
  padding: 1.5rem 2rem;
  align-items: center;
  gap: 3rem;
  border-bottom: solid 1px rgb(204, 204, 204);
}

header i {
  font-size: 2.2rem;
  color: #5c48d3;
}

header h1 {
  font-size: 1.8rem;
  font-weight: 300;
}
